<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"><i class="bi bi-newspaper"></i>  All GK GS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/learn" routerLinkActive="active"><i class="bi bi-journal-richtext"></i> Learn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/practice" routerLinkActive="active"><i class="bi bi-pencil-square"></i> Practice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/test" routerLinkActive="active"><i class="bi bi-patch-question"></i> Test</a>
        </li>
      </ul>
    </div>
  </div>
</nav>