$theme: #007bff;

header,
footer {
  background-color: $theme;
  color: #fff;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

footer a,
footer a:hover,
footer a:visited {
  text-decoration: underline;
  color: inherit;
}
